 .navbar-default, navbar-brand{
         background: #3c3c3c;
color: 3c3c3c;
 }

 .table{
    border: rgb(255, 0, 0) 5px solid;

 }
.table{
    border-collapse: rgb(0, 81, 255) 5px solid;

    background: #3c3c3c;
    color: 3c3c3c;
}
.nav ul{
    border: rgb(000, 55, 5) 3px solid;

    background: #3c3c3c;
color: 3c3c3c;

}
h1 , .strong , .text-center{
    border: rgb(00, 55, 5) 3px solid;
    color: #3c3c3c;
}

*{
    padding: 0.5px;
    margin: 0.5px;  
}

.navbar-brand{
    background: #3c3c3c;
    color: #3c3c3c;
}
.fa{
    background:  rgba(68, 103, 179, 0.966);

}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff   !important;
    background-color: #4c4c4c !important;
}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #4c4c4c;
}
navbar-default sidebar{
    background: #4c4c4c;

  }
 #side-menu a {
    color: #337ab7;
    text-decoration: none;
    background: #4c4c4c;
    border: #4cc44c;
}
.navbar-default {
    background-color: #4c4c4c !important;
    border-color: #4c4c4c !important;
}